media/*
*.env

.DS_Store
Thumbs.db

etc/headscale/config/
etc/headscale/data/
media/

*.log
*.pid

.env
.env.*

.vscode/
.idea/

etc/headscale/*.key
etc/headscale/*.sqlite
etc/headscale/config/
etc/headscale/data/
etc/headscale/*.db
etc/headscale/cache/
etc/glance/root/.env
