media/*
*.env

.DS_Store
Thumbs.db

etc/headscale/config/
etc/headscale/data/
etc/caddy/
media/

*.log
*.pid

.env
.env.*

.vscode/
.idea/

etc/headscale/*.key
etc/headscale/*.sqlite
etc/headscale/config.yaml
etc/headscale/config/
etc/headscale/data/

etc/headscale/config.yaml

etc/caddy/